<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .action-delete {
            display: flex;
            justify-content: end;
            gap: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <section class="section">
            <% if (membername) { %>
                <h1>Welcome, <%= membername %>!</h1>
                <% } %>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <a href="/watches">
                                <h1 class="title">
                                    <%= title %>
                                </h1>
                            </a>
                        </div>
                        <div class="column is-narrow">
                            <div class="buttons">
                                <a href="/watches" class="button">&larr; Return to list of watches</a>
                                <button class="button is-primary" id="add-brand-button">Add Brand</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning alert-dismissible has-text-centered" role="alert">
                        <% if(success_msg !='' ){ %>
                            <%= success_msg %>
                                <% } %>
                                    <% if(error_msg !='' ){ %>
                                        <%= error %>
                                            <% } %>

                                                <% if(error !='' ){ %>
                                                    <%= error %>
                                                        <% } %>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <table class="table is-fullwidth has-text-centered">
                                <thead>
                                    <tr>
                                        <th><abbr title="Position">Pos</abbr></th>
                                        <th class="has-text-centered">Brand Name</th>
                                        <th class="has-text-centered">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% brandData.forEach((brand, index)=> { %>
                                        <tr>
                                            <th>
                                                <%= (index + 1) %>
                                            </th>
                                            <td>
                                                <%= brand.brandName %>
                                            </td>
                                            <td>
                                                <button class="button is-warning update-brand-button"
                                                    data-id="<%= brand._id %>"
                                                    data-name="<%= brand.brandName %>">Update</button>
                                                <button class="button is-danger delete-brand-button"
                                                    data-id="<%= brand._id %>">Delete</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </section>

        <!-- Add Brand Modal -->
        <div class="modal" id="add-brand-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h1 class="subtitle has-text-centered">Add new brand</h1>
                    <form action="/brands" method="post">
                        <div class="field">
                            <label class="label">Brand Name</label>
                            <div class="control">
                                <input class="input" type="text" name="brandName" placeholder="Input brand name"
                                    required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-text-right">
                                <button type="submit" class="button is-link">Add brand</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>

        <!-- Update Brand Modal -->
        <div class="modal" id="update-brand-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Update Brand</p>
                    <button class="delete" aria-label="close" id="close-update-modal"></button>
                </header>
                <section class="modal-card-body">
                    <form id="update-brand-form" method="post">
                        <div class="field">
                            <label class="label">Brand Name</label>
                            <div class="control">
                                <input class="input" type="text" name="brandName" id="update-brand-name"
                                    placeholder="Input brand name" required>
                            </div>
                        </div>
                        <div class="field has-text-right">
                            <div class="control">
                                <button type="submit" class="button is-link">Update brand</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="has-text-right">
                        <button class="button" id="cancel-update-modal">Cancel</button>
                    </div>
                </section>
            </div>
        </div>

        <!-- Delete Brand Modal -->
        <div class="modal" id="delete-brand-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Brand</p>
                    <button class="delete" aria-label="close" id="close-delete-modal"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure you want to delete this brand?</p>
                    <div class="action-delete">
                        <form id="delete-brand-form" method="post">
                            <button type="submit" class="button is-danger">Delete</button>
                        </form>
                        <button class="button" id="cancel-delete-modal">Cancel</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('add-brand-button').addEventListener('click', function () {
            document.getElementById('add-brand-modal').classList.add('is-active');
        });

        document.querySelector('.modal-close').addEventListener('click', function () {
            document.querySelectorAll('.modal').forEach(function (modal) {
                modal.classList.remove('is-active');
            });
        });

        // document.querySelectorAll('.modal-background').forEach(function (element) {
        //     element.addEventListener('click', function () {
        //         document.querySelectorAll('.modal').forEach(function (modal) {
        //             modal.classList.remove('is-active');
        //         });
        //     });
        // });

        document.getElementById('cancel-update-modal').addEventListener('click', function () {
            document.getElementById('update-brand-modal').classList.remove('is-active');
        });

        document.getElementById('close-update-modal').addEventListener('click', function () {
            document.getElementById('update-brand-modal').classList.remove('is-active');
        });

        document.getElementById('cancel-delete-modal').addEventListener('click', function () {
            document.getElementById('delete-brand-modal').classList.remove('is-active');
        });

        document.getElementById('close-delete-modal').addEventListener('click', function () {
            document.getElementById('delete-brand-modal').classList.remove('is-active');
        });

        document.querySelectorAll('.update-brand-button').forEach(function (button) {
            button.addEventListener('click', function () {
                var brandId = this.getAttribute('data-id');
                var brandName = this.getAttribute('data-name');
                document.getElementById('update-brand-name').value = brandName;
                document.getElementById('update-brand-form').action = '/brands/update/' + brandId;
                document.getElementById('update-brand-modal').classList.add('is-active');
            });
        });

        document.querySelectorAll('.delete-brand-button').forEach(function (button) {
            button.addEventListener('click', function () {
                var brandId = this.getAttribute('data-id');
                document.getElementById('delete-brand-form').action = '/brands/delete/' + brandId;
                document.getElementById('delete-brand-modal').classList.add('is-active');
            });
        });
    </script>
</body>

</html>