<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .alert {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <section class="section">
                    <a href="/watches" class="button">Back to list watch</a>
                    <br>
                    <br>
                    <h1 class="title has-text-centered">User Profile</h1>
                    <br>
                    <p class="subtitle has-text-centered">Username: <%= user.membername %>
                            <p class="subtitle has-text-centered">Name: <%= user.name %>
                                    <p class="subtitle has-text-centered">Yob: <%= user.yob %>
                                    </p>
                                    <div class="alert is-success alert-dismissible has-text-centered" role="alert">
                                        <% if(success_msg !='' ){ %>
                                            <%= success_msg %>
                                                <% } %>
                                                    <% if(error_msg !='' ){ %>
                                                        <%= error %>
                                                            <% } %>

                                                                <% if(error !='' ){ %>
                                                                    <%= error %>
                                                                        <% } %>
                                    </div>
                </section>
                <section class="section">
                    <h1 class="subtitle has-text-centered">Edit profile</h1>
                    <% errors.forEach(function (error){ %>
                        <div class="alert alert-warning alert-dismissible has-text-centered" role="alert">
                            <%= error.msg %>
                        </div>
                        <% }); %>
                            <form action='/profile/<%= user._id %> ' method="post">
                                <div class="field">
                                    <label class="label">New Username</label>
                                    <div class="control">
                                        <input class="input" type="text" name="username" placeholder="Input Username">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">New Name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="name" placeholder="Input Name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">New Year of Birth</label>
                                    <div class="control">
                                        <input class="input" type="text" name="yob" placeholder="Input Year of Birth">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">New Password</label>
                                    <div class="control">
                                        <input class="input" type="password" name="newPassword"
                                            placeholder="Input Password">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-text-centered">
                                        <button class="button is-link" type="submit">Edit profile</button>
                                    </div>
                                </div>
                            </form>
                </section>
            </div>
            <div class="column is-haft">
                <section class="section">
                    <h1 class="subtitle">Comments by <%= user.name %>
                    </h1>
                    <% if(comments.length> 0) { %>
                        <% comments.forEach(comment=> { %>
                            <div class="box">
                                <div class="columns">
                                    <div class="column">
                                        <figure class="image is-256x256">
                                            <img class="image-watch" src="<%= comment.watchImage %>"
                                                alt="Image of <%= comment.watchName %>">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <p>Name of watch: <strong>
                                                <%= comment.watchName %>
                                            </strong>
                                        </p>
                                        <p>Content: <strong>
                                                <%= comment.content %>
                                            </strong>
                                        </p>
                                        <p>Rating: <strong>
                                                <%= comment.rating %>/3
                                            </strong></p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <section class="section">
                                        <p class="title has-text-centered">No comment</p>
                                    </section>
                                    <% } %>
                </section>
            </div>
        </div>
    </div>
</body>

</html>