<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .image-watch {
            border-radius: 30px;
        }

        #watch-name {
            font-weight: bold;
        }

        .media-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <section class="section">
            <h1 class="title">Watch Detail</h1>
        </section>
        <div class="columns">
            <div class="column">
                <figure class="image is-3by2">
                    <img class="image-watch" src="<%= watchData.image %>" alt="Image of <%= watchData.watchName %>">
                </figure>
            </div>
            <div class="column">
                <div class="media">
                    <div class="media-content">
                        <p class="subtitle is-1" id="watch-name">
                            <%= watchData.watchName %>
                        </p>
                        <p class="subtitle is-5">Brand: <%= watchData.brand.brandName %>
                        </p>
                        <p class="subtitle is-6">Price: <%= watchData.price %> $
                        </p>
                        <p class="subtitle is-6">Description: <%= watchData.watchDescription %>
                        </p>
                        <p class="subtitle is-6">Comment: <%= watchData.comments.length %>
                        </p>
                        <% watchData.comments.forEach((comment)=> { %>
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        Comment by: <%= comment.author.membername %>
                                    </div>
                                    <div class="content">
                                        Rating: <%= comment.rating %>/5
                                    </div>
                                    <div class="content">
                                        Comment <%= comment.content %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <div class="field">
                                    <a href="/watches" class="button is-link">Back to Watches</a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>