<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .image-watch {
            border-radius: 30px;
        }

        #watch-name {
            font-weight: bold;
        }

        .media-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .action-delete {
            display: flex;
            justify-content: end;
            gap: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <section class="section">
                    <a href="/watches"><- Back to Watches</a>
                            <br><br>
                            <h1 class="title">Watch Detail</h1>
                </section>
            </div>
            <div class="column is-half has-text-right">
                <section class="section">
                    <button class="button is-danger" id="delete-watch-button">Delete
                        Watch</button>
                    <br>
                    <br>
                    <button class="button is-primary" id="update-watch-button">Update
                        Watch</button>
                </section>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <figure class="image is-3by2">
                    <img class="image-watch" src="<%= watchData.image %>" alt="Image of <%= watchData.watchName %>">
                </figure>
            </div>
            <div class="column">
                <div class="media">
                    <div class="media-content">
                        <p class="subtitle is-1" id="watch-name">
                            <%= watchData.watchName %>
                        </p>
                        <p class="subtitle is-5">Brand: <%= watchData.brand.brandName %>
                        </p>
                        <p class="subtitle is-6">Price: <%= watchData.price %> $</p>
                        <p class="subtitle is-6">Description: <%= watchData.watchDescription %>
                        </p>
                        <p class="subtitle is-6">Comments: <%= watchData.comments.length %>
                        </p>
                        <% watchData.comments.forEach((comment)=> { %>
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        Comment by: <%= comment.author.membername %>
                                    </div>
                                    <div class="content">
                                        Rating: <%= comment.rating %>/5
                                    </div>
                                    <div class="content">
                                        Comment: <%= comment.content %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% if (!existingComment) { %>
                                    <form action="/watches/comment/<%= watchData._id %>" method="post" class="box">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="field">
                                                    <label class="label">Your Comment</label>
                                                    <div class="control">
                                                        <textarea class="textarea" name="content"
                                                            placeholder="Add your comment" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="field">
                                                    <label class="label">Rating</label>
                                                    <div class="control">
                                                        <div class="select">
                                                            <select name="rating" required>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Submit
                                                            Feedback</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <% } else { %>
                                        <p>You have already provided feedback for this watch.</p>
                                        <br>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Watch Modal -->
        <div class="modal" id="update-watch-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Update Watch</p>
                    <!-- <button class="delete" aria-label="close" id="close-update-modal"></button> -->
                </header>
                <section class="modal-card-body">
                    <form action="/watches/<%= watchData._id %>" method="post">
                        <div class="field">
                            <label class="label">Watch Name</label>
                            <div class="control">
                                <input class="input" type="text" name="watchName" value="<%= watchData.watchName %>"
                                    required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Image URL</label>
                            <div class="control">
                                <input class="input" type="text" name="image" value="<%= watchData.image %>" required>
                            </div>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <div class="field">
                                    <label class="label">Price</label>
                                    <div class="control">
                                        <input class="input" type="number" name="price" value="<%= watchData.price %>"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">Automatic</label>
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" name="Automatic" <% if (watchData.Automatic) {
                                                %>checked<% } %>> Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="field">
                                    <label class="label">Brand</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="brand" required>
                                                <% brandData.forEach((brand)=> { %>
                                                    <option value="<%= brand._id %>" <%
                                                        if(brand._id.toString()===watchData.brand._id.toString()) { %>
                                                        selected<% } %>><%= brand.brandName %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="field">
                            <label class="label">Watch Description</label>
                            <div class="control">
                                <textarea class="textarea" name="watchDescription"
                                    required><%= watchData.watchDescription %></textarea>
                            </div>
                        </div>
                        <div class="field has-text-right">
                            <div class="control">
                                <button type="submit" class="button is-link">Update Watch</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="has-text-right">
                        <button class="button" id="cancel-update-modal">Cancel</button>
                    </div>
                </section>
            </div>
        </div>

        <!-- Delete Watch Modal -->
        <div class="modal" id="delete-watch-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Watch</p>
                    <!-- <button class="delete" aria-label="close" id="close-delete-modal"></button> -->
                </header>
                <section class="modal-card-body">
                    <p>Are you sure you want to delete this watch?</p>
                    <div class="action-delete">
                        <form action="/watches/delete/<%= watchData._id %>" method="post">
                            <button type="submit" class="button is-danger" id="confirm-delete-button">Delete</button>
                        </form>
                        <button class="button" id="cancel-delete-modal">Cancel</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('update-watch-button').addEventListener('click', function () {
            document.getElementById('update-watch-modal').classList.add('is-active');
        });

        document.getElementById('delete-watch-button').addEventListener('click', function () {
            document.getElementById('delete-watch-modal').classList.add('is-active');
        });

        // document.getElementById('close-update-modal').addEventListener('click', function () {
        //     document.getElementById('update-watch-modal').classList.remove('is-active');
        // });

        document.getElementById('cancel-update-modal').addEventListener('click', function () {
            document.getElementById('update-watch-modal').classList.remove('is-active');
        });

        // document.getElementById('close-delete-modal').addEventListener('click', function () {
        //     document.getElementById('delete-watch-modal').classList.remove('is-active');
        // });

        document.getElementById('cancel-delete-modal').addEventListener('click', function () {
            document.getElementById('delete-watch-modal').classList.remove('is-active');
        });
    </script>
</body>

</html>